$primary-color: #565555;
$secondary-color: #A3A3A3;

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 100vh;
    display: flex;
    align-items: center;
    
    
    .container {
        position: relative;
        width: 450px;
        height: 600px;
        border: 1px solid $secondary-color;
        border-radius: 10px;
    }
    
    .image {
        justify-content: center;
        position: absolute;
        top: 0;
        width: 450px;
        height: 200px;        
        background-color: $secondary-color;
        border-radius: 10px 10px 0 0;
    }
    .box {
        bottom: -200px;
        position: absolute;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}